## Manual Updates to file:
- Convert excel file with three tabs to 3 CSV files
- Put dependent and independent variables in same file.
- Update column names for easier modelling
    - Replace space with _ to ensure easier readability

## Data Preprocessing
1. Convert all -1 to 0.
2. Remove Skewness from the data

## Data Analysis:
1. Check number of unique values
2. Check if missing values
3. Check Std. Deviation, min, max, quantiles etc

## Variable Description
    Var 1	Integer (min=0, no max)
    Var 2	Real (min=0, no max)
    Var 3	Integer (min=0, no max)
    Var 4	Real (Negative value possible though unlikely, no max)
    Var 5	One of 8 classes (so -1 here means not in that class)
    Var 6	One of 12 classes (so -1 here means not in that class)	
    Var 7	Integer
    Var 8	Integer
    Var 9	Integer
    Var 10	Integer
    Var 11	Real (no min or max)
    Var 12	Real (no min or max)
    Var 13	Integer (min=2, no max)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# To plot QQ plot
import statsmodels.api as sm

import warnings
warnings.filterwarnings('ignore')

In [2]:
# To view all the columns 
pd.set_option("display.max_columns", None)

In [3]:
data = pd.read_csv('DS2_Dependent_3_xl.csv')

In [4]:
data.head()

,Var_1,Var_2,Var_3,Var_4,Var_5_Class_1,Var_5_Class_2,Var_5_Class_3,Var_5_Class_4,Var_5_Class_5,Var_5_Class_6,Var_5_Class_7,Var_5_Class_8,Var_6_Class_1,Var_6_Class_2,Var_6_Class_3,Var_6_Class_4,Var_6_Class_5,Var_6_Class_6,Var_6_Class_7,Var_6_Class_8,Var_6_Class_9,Var_6_Class_10,Var_6_Class_11,Var_6_Class_12,Var_7,Var_8,Var_9,Var_10,Var_11,Var_12,Var_13,Input_Data_Set_3
0,5.0,0.933060,63.0,11.566940,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,1.0,1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,1.0,0.0,-1.0,-1.0,19.29529,39.459274,2.0,1.0
1,8.0,2.124317,18.0,10.375683,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,1.0,-1.0,1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,1.0,2.0,-1.0,-1.0,19.29529,39.459274,2.0,0.0
2,18.0,1.618852,53.0,10.881148,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,1.0,-1.0,1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,1.0,0.0,-1.0,-1.0,19.29529,39.459274,2.0,0.0
3,11.0,1.005464,12.0,11.494536,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,1.0,1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,1.0,0.0,-1.0,-1.0,19.29529,39.459274,2.0,0.0
4,12.0,1.008197,11.0,10.274590,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,1.0,-1.0,-1.0,1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,2.0,0.0,-1.0,-1.0,19.29529,39.459274,2.0,1.0

## Data Analysis

In [5]:
# Check shape of the data
data.shape

(1649, 32)

In [6]:
# Check how many unique values are there is the data. Helps to understand which column can be set as categorical vs numeric
data.nunique()

Var_1                 52
Var_2                849
Var_3                 85
Var_4               1040
Var_5_Class_1          2
Var_5_Class_2          2
Var_5_Class_3          2
Var_5_Class_4          2
Var_5_Class_5          1
Var_5_Class_6          2
Var_5_Class_7          2
Var_5_Class_8          2
Var_6_Class_1          2
Var_6_Class_2          2
Var_6_Class_3          2
Var_6_Class_4          2
Var_6_Class_5          2
Var_6_Class_6          2
Var_6_Class_7          2
Var_6_Class_8          2
Var_6_Class_9          2
Var_6_Class_10         2
Var_6_Class_11         2
Var_6_Class_12         2
Var_7                  6
Var_8                 15
Var_9                  2
Var_10                 2
Var_11                12
Var_12                13
Var_13                12
Input_Data_Set_3       2
dtype: int64

In [7]:
# Check if there are any null values
data.isnull().sum()

Var_1               384
Var_2               384
Var_3               384
Var_4               384
Var_5_Class_1       384
Var_5_Class_2       384
Var_5_Class_3       384
Var_5_Class_4       384
Var_5_Class_5       384
Var_5_Class_6       384
Var_5_Class_7       384
Var_5_Class_8       384
Var_6_Class_1       384
Var_6_Class_2       384
Var_6_Class_3       384
Var_6_Class_4       384
Var_6_Class_5       384
Var_6_Class_6       384
Var_6_Class_7       384
Var_6_Class_8       384
Var_6_Class_9       384
Var_6_Class_10      384
Var_6_Class_11      384
Var_6_Class_12      384
Var_7               384
Var_8               384
Var_9               384
Var_10              384
Var_11              424
Var_12              384
Var_13              384
Input_Data_Set_3    999
dtype: int64

## Data Preprocessing

We need to convert all -1 to 0 to help machine understand it better

In [8]:
# Saving all the columns which have -1 and 0 values in data_columns variable
data_columns = ['Var_5_Class_1', 'Var_5_Class_2','Var_5_Class_3', 'Var_5_Class_4', 'Var_5_Class_5', 'Var_5_Class_6','Var_5_Class_7', 'Var_5_Class_8', 'Var_6_Class_1', 'Var_6_Class_2', 'Var_6_Class_3', 'Var_6_Class_4', 'Var_6_Class_5', 'Var_6_Class_6','Var_6_Class_7', 'Var_6_Class_8', 'Var_6_Class_9', 'Var_6_Class_10','Var_6_Class_11', 'Var_6_Class_12', 'Var_9', 'Var_10']

In [9]:
# Creating a function to convert all -1 to 0s

def convert_to_zero_quick(df):
    for i in data_columns:
        df[i] = df[i].replace(-1, 0, regex=True)

In [10]:
convert_to_zero_quick(data)

Remove the null data

In [11]:
# Drop these columns. Ideally we should replace these columns with mean median or mode. But don't have additional information for this
data.drop(data[pd.isna(data.Input_Data_Set_3)].index, inplace=True)

In [12]:
1649-999

650

In [13]:
data.shape

(650, 32)

## Oversample minority class

In [14]:
data[data.Input_Data_Set_3==0].shape, data[data.Input_Data_Set_3==1].shape

((304, 32), (346, 32))

In [15]:
from sklearn.utils import resample

# separate minority and majority classes
not_accept = data[data.Input_Data_Set_3==0]
accept = data[data.Input_Data_Set_3==1]

# upsample minority
not_accept_upsampled = resample(not_accept,
                          replace=True, # sample with replacement
                          n_samples=len(accept), # match number in majority class
                          random_state=27) # reproducible results

# combine majority and upsampled minority
data = pd.concat([not_accept_upsampled, accept])

In [16]:
data[data.Input_Data_Set_3==0].shape, data[data.Input_Data_Set_3==1].shape

((346, 32), (346, 32))

In [17]:
# Saving the preprocessed data in a seperate csv file so that we don't have to repeat above steps multiple times
data.to_csv("DS2_Dependent_3_xl_upsample.csv", index=False)

## Preprocess the data

In [18]:
# Capturing the cleaned data
data = pd.read_csv('DS2_Dependent_3_xl_upsample.csv')

In [19]:
data.shape

(692, 32)

In [20]:
data_numeric = ['Var_1', 'Var_2', 'Var_3', 'Var_4', 'Var_7', 'Var_8', 'Var_11', 'Var_12', 'Var_13']

-0.5 to 0.5 -> Symmetric </br>
Less than -0.5 -> Negatively Skewed </br>
More then 0.5 -> Positively Skewed </br></br>

In [21]:
# Function to idenfity skewness
def data_skewness(df):
    for i in data_numeric:
        print(i, ":  ", df[i].skew())

In [22]:
data_skewness(data)

Var_1 :   1.4309546501592163
Var_2 :   1.2643824722296044
Var_3 :   4.599974360599052
Var_4 :   -2.001896361449669
Var_7 :   3.150275659485977
Var_8 :   3.46272765366114
Var_11 :   -2.1778443529705442
Var_12 :   -1.0314180387002772
Var_13 :   -0.026436015899691318

In [24]:
# Removing skewness. Taking root for positive skewed data and power for negatively skewed data
data["Var_1"] = np.sqrt(data["Var_1"])
data["Var_2"] = np.sqrt(data["Var_2"])
data["Var_3"] = np.cbrt(data["Var_3"])
data["Var_7"] = np.cbrt(data["Var_7"])
data["Var_8"] = np.cbrt(data["Var_8"])

In [25]:
data["Var_4"] = np.power(data["Var_4"], 6)

In [26]:
#data["Var_11"] = np.log(data["Var_11"])
#data["Var_12"] = np.power(data["Var_12"], 3)

In [27]:
#data["Var_12"] = np.power(data["Var_12"], 3)

In [28]:
data_skewness(data)

Var_1 :   0.15078218848750297
Var_2 :   0.5517589714665083
Var_3 :   0.4852530307796883
Var_4 :   0.03950820638036453
Var_7 :   2.5435323937260548
Var_8 :   -0.17348787540419966
Var_11 :   -2.1778443529705442
Var_12 :   -1.0314180387002772
Var_13 :   -0.026436015899691318

In [29]:
#data.Var_7.describe()
data.Var_11.isna().sum()

0

# Model Building
We are building RandomForest model as it is less impacted by outliers

In [30]:
model_data = data

In [31]:
# After model building, we identified various features which were less important to model building. So we removed those. 

#model_data = data.drop(['Var_5_Class_5', 'Var_5_Class_1', 'Var_5_Class_4', 'Var_5_Class_6', 'Var_5_Class_3', 'Var_5_Class_2'], axis=1)

model_data = data.drop(['Var_5_Class_5', 'Var_5_Class_1', 'Var_5_Class_4', 'Var_5_Class_6', 'Var_5_Class_3'], axis=1)

We will be using two ways to test out model:
- Train test split
- Cross Validation

In [32]:
# Segregating data in independent and dependent variables

X = model_data.drop(['Input_Data_Set_3'], axis=1)
y = model_data['Input_Data_Set_3']

In [33]:
from sklearn.model_selection import train_test_split

train_X, test_X, train_y, test_y = train_test_split(X, y, random_state=122, stratify = y)

In [34]:
from sklearn.metrics import f1_score, accuracy_score
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.model_selection import cross_val_score
from numpy import mean

# Random Forest

In [35]:
from sklearn.ensemble import RandomForestClassifier

rf_model = RandomForestClassifier(n_estimators=11, random_state=22)

In [36]:
# define evaluation procedure
cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)
# evaluate model
scores = cross_val_score(rf_model, X, y, scoring='accuracy', cv=cv, n_jobs=-1)
# summarize performance
print('Accuracy %.3f' % mean(scores))

Accuracy 0.749

In [37]:
# Fitting a single model using train test split
rf_model.fit(train_X, train_y)

rf_predicted_test = rf_model.predict(test_X)
accuracy_rf = accuracy_score(rf_predicted_test, test_y)
accuracy_rf

0.7052023121387283

In [38]:
# Checking feature importance to identify features that can be eliminated.
feature_importance_rf = pd.Series(rf_model.feature_importances_, index=train_X.columns)

feature_importance_rf = feature_importance_rf.sort_values(ascending=False)

feature_importance_rf

Var_4             0.144930
Var_2             0.144229
Var_3             0.138705
Var_1             0.107516
Var_13            0.061335
Var_11            0.059144
Var_8             0.052979
Var_12            0.043498
Var_10            0.029140
Var_7             0.021318
Var_9             0.019280
Var_6_Class_1     0.018473
Var_6_Class_3     0.018232
Var_6_Class_2     0.014197
Var_6_Class_5     0.014119
Var_6_Class_7     0.013765
Var_6_Class_12    0.012943
Var_6_Class_10    0.012123
Var_6_Class_11    0.012069
Var_5_Class_8     0.011721
Var_6_Class_6     0.011082
Var_6_Class_8     0.010463
Var_6_Class_4     0.008706
Var_5_Class_7     0.007933
Var_6_Class_9     0.007735
Var_5_Class_2     0.004367
dtype: float64

## Prediction
model_name = rf_model

In [40]:
predicted_data = pd.read_csv("v2_Inputs_for_Full_Predictions_3_imputed.csv")

In [41]:
data_skewness(predicted_data)

Var_1 :   3.9019749056127604
Var_2 :   1.2858898594763082
Var_3 :   18.706620448485587
Var_4 :   -1.284574825229781
Var_7 :   39.19867678667724
Var_8 :   9.854938149687225
Var_11 :   2.131511019460773
Var_12 :   -1.5937560903840868
Var_13 :   -0.13667133273249232

In [42]:
# Removing skewness. Taking root for positive skewed data and power for negatively skewed data
predicted_data["Var_1"] = np.sqrt(predicted_data["Var_1"])
predicted_data["Var_2"] = np.sqrt(predicted_data["Var_2"])
predicted_data["Var_3"] = np.cbrt(predicted_data["Var_3"])
predicted_data["Var_7"] = np.cbrt(predicted_data["Var_7"])
predicted_data["Var_8"] = np.cbrt(predicted_data["Var_8"])

In [43]:
data_skewness(predicted_data)

Var_1 :   0.49872883873460444
Var_2 :   0.3576557463036899
Var_3 :   0.9441237516931893
Var_4 :   -1.284574825229781
Var_7 :   3.9417182051002477
Var_8 :   0.3735575358600709
Var_11 :   2.131511019460773
Var_12 :   -1.5937560903840868
Var_13 :   -0.13667133273249232

In [45]:
# After model building, we identified various features which were less important to model building. So we removed those. 

#model_data = data.drop(['Var_5_Class_5', 'Var_5_Class_1', 'Var_5_Class_4', 'Var_5_Class_6', 'Var_5_Class_3', 'Var_5_Class_2'], axis=1)

model_data = predicted_data.drop(['Var_5_Class_5', 'Var_5_Class_1', 'Var_5_Class_4', 'Var_5_Class_6', 'Var_5_Class_3'], axis=1)

In [46]:
predictions = rf_model.predict(model_data)

In [47]:
predictions_probability = rf_model.predict_proba(model_data)

In [48]:
predictions_probability_0 = predictions_probability[:,0]

In [49]:
prediction_confidence = []
for i in predictions_probability_0:
    if (i > 0.7):
        prediction_confidence.append(0)
    elif (i < 0.3):
        prediction_confidence.append(100)
    else:
        prediction_confidence.append(50)

In [50]:
output_file_df = pd.DataFrame({
    "DataSet": 3,
    "PredictionSet": 3,
    "Prediction": predictions,
   # "Pred_proba_0": predictions_probability_0,
   # "Pred_proba_1": predictions_probability_1,
    "Confidence": prediction_confidence
})

In [51]:
output_file_df.to_csv("Final_File_DS2_Pred3.csv", index=False)